<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>KingUni-Wiki</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="/img/logo.png" alt="logo">
            </div>

            <nav>
                {{#if user}}
                <a href="/home">Main Page</a>
                {{else}}
                <a href="/">Main Page</a>
                {{/if}}
                <a href="/articles/all">All Articles</a>
                <form action="/search" method="GET">
                    <input type="text" name="search">
                    <input type="submit" value="Search">
                </form>
                {{#if user}}
                <a href="/create">Create New Article</a>
                {{else}}
                <a href="/register">Create New Article</a>
                {{/if}}
            </nav>
        </aside>
        <div id="container">
            <header>
                {{#if user}}
                <span>Welcome, {{user.username}}!</span>
                <a href="/logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                {{/if}}
            </header>
            <main>
                <h1>Welcome to KingUni Wiki!</h1>
                <section>
                    <h2>Are you sure you want to delete this article?
                    </h2>
                    <div class="spacer">
                        <form action="/delete/{{article._id}}" method="POST">
                            <label>Article title</label>
                            <h3>{{article.title}}</h3>
                            <label for="content">Content</label>
                            <textarea id="content" name="content">
                                {{article.content}}
                            </textarea>
                            <input type="submit" value="CLICK HERE TO DELETE">
                        </form>
                    </div>
                </section>
            </main>
            <footer>
                KingUni Wiki &copy; 2020
            </footer>
        </div>
    </div>
</body>

</html>